body 
{
      color: #444444;
      font-size: 18px;
      line-height: 1.6;
      margin: 40px auto;
      max-width: 650px;
}

h1, h2, h3
{
	line-height: 1.2;
}

.tab
{
    display: block;
    margin-left: 40px;
}

.fontchange
{
	font-family: monospace;
}